/* Styl pro nadpis h1 */
.biblestyl h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
    color: yellow;
}

/* Styl pro nadpisy h2 */
.biblestyl h2 {
    font-size: 1.5em;
    color: yellow;
    margin-top: 20px;
}

/* Styl pro formulář */
form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #444; /* tmavě šedé pozadí pro form */
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

}

/* Styl pro výběrové pole select */
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #222; /* tmavé pozadí */
    color: yellow;          /* žlutý text */
    border: 1px solid yellow; /* žlutý rámeček */
    border-radius: 4px;
    font-size: 1em;
}

/* Styl pro seznam veršů */
ul {
    list-style-type: none;
    padding-left: 0;
}
/* Styl pro každý verš - žluté číslo verše */
li strong {
    color: yellow;
    font-weight: normal ; /* Normální váha písma pro číslo verše */
}
/* Styl pro každý verš */
/* Styl pro každý verš */
.verse-item {
    position: relative; /* Nastavení relativní pozice pro rodiče */
    margin: 10px ;
    font-size: 1.2em;
    background-color: #444; /* Tmavě šedé pozadí */
    padding: 5px ;
    border-radius: 5px;
    display: flex; /* Flexbox pro zarovnání obsahu */
    align-items: center; /* Vertikální zarovnání na střed */
    justify-content: space-between; /* Zarovná text vlevo a tlačítko vpravo */

}

/* Styl pro text verše */
.verse-text {
    margin-right: 100px; /* Rezerva pro tlačítko na pravé straně */
    flex: 1; /* Zajistí, že text zabere dostupný prostor */

}

/* Styl pro tlačítko "Uložit" */
.save-form {
    position: absolute; /* Absolutní pozice tlačítka */
    right: 10px; /* Zarovnání tlačítka k pravému okraji */
    top: 50%; /* Vertikální zarovnání na střed */
    transform: translateY(-50%); /* Korekce vertikálního zarovnání */
    margin: 0; /* Odstraní případné mezery kolem formuláře */
}

/* Styl pro tlačítko "Uložit" */
.save-button {
    background-color: yellow;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #b3b000; /* Tmavší modrá při hover */
}