* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.bg-light {
    background: #807f7f;
    color: #000000;
}

.bg-dark {
    background: #333333;
    color: #fff;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #ffff00;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Showcase */
#showcase {
    height: 100vh;
    color: rgb(255, 255, 255);
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Section Co děláme  */
#what .items {
    display: flex;
    padding: 1rem;
    z-index: 1;
}

#what .item {
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border: 1px black solid;
    background-color: #dddddd;
    margin: 10px;
    color: black;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(30%) scale(0.95);
}

#what .item.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}

#what .items .item i {
    background: rgb(255, 255, 0);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}