/* Základní styl pro tlačítka */
.button-container {display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 5px; max-width: 100%; margin: 0 auto; padding: 10px;}
.buttan {padding: 10px 20px; font-size: 16px; background-color: yellow; color: black; border: none; border-radius: 5px; cursor: pointer; text-align: center; white-space: nowrap; width: 100%; }
.buttan:hover {background-color: rgb(163, 163, 0) ;}
@media screen and (max-width: 700px) {.button-container {grid-template-columns: repeat(2, 1fr); padding: 5px;}
                                      .buttan {font-size: 18px; padding: 10px 10px; width: 80%}}
@media screen and (max-width: 900px) {.button-container {grid-template-columns: repeat(2, 1fr);}}
